In [1]:
import numpy as np
import pandas as pd

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import category_encoders as ce

In [3]:
data = 'car_evaluation.csv'
df = pd.read_csv(data, header=None)

In [5]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df.columns = col_names

In [7]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [8]:
X = df.drop(['class'], axis=1)
y = df['class']

In [10]:
dt_clf = DecisionTreeClassifier()

In [11]:
encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
lst_accuracy = []
for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
    
    X_train = encoder.fit_transform(X_train)
    X_test = encoder.transform(X_test)
    
    dt_clf.fit(X_train, y_train)
    pred = dt_clf.predict(X_test)
    # print('예측 정확도: {0:.4f}'.format(accuracy_score(y_test,pred)))
    lst_accuracy.append(accuracy_score(y_test,pred))
    
np.mean(lst_accuracy)

0.9605491329479768